src/main/STVs/Phoenix/metadata/metadata.dtd

<!ELEMENT metadata ( class | name | description | mediatype | icon | fanart )+ >
<!ATTLIST metadata id NMTOKEN #REQUIRED >

<!ELEMENT class ( #PCDATA ) >
<!ELEMENT name ( #PCDATA ) >
<!ELEMENT description ( #PCDATA ) >
<!ELEMENT mediatype ( #PCDATA ) >
<!ELEMENT icon ( #PCDATA ) >
<!ELEMENT fanart ( #PCDATA ) >
